/* =============
    Base
============= */

.global-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";
    div{
        grid-area: content;
    }

}

.hero-img{
    img{
        width: 100%;
        display: block;
        border: 0;
    }
    
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#sm-image{
    @include md{
        display: none;
    }
}

#md-image{
    display: none;
    @include md{
        display: block;
    }
    @include lg{
        display: none;
    }
}

#lg-image{
    display: none;
    @include lg{
        display: block;
    }
}



h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}

.global-margin{
    margin-top: 60px;
    @include lg{
        margin-top: 100px;
    }
}

.hide-lg{
    @include lg{
        display: none;
    }
}