#gallery {}

.gallery-grid {


    img {
        width: 100%;
        margin-bottom: 20px;
        @include md{
            margin-bottom: 0;
        }
    }


    #g3 {
        display: none;
    }

    #g5 {
        display: none;
    }

    #g6 {
        display: none;


    }

    @include md {
        margin-top: 50px;
        display: grid;
        gap: 34px;
        grid-template-areas:
            "one two"
            "one word"
            "four three";

        #g1 {
            grid-area: word;
        }

        #g2 {
            grid-area: one;
        }

        #g4 {
            grid-area: two;
        }

        #g6 {
            display: block;
            grid-area: four;
        }
    }

    @include lg {
        gap: 16px;
        grid-template-columns: auto 320px 320px 320px auto;
        grid-template-areas:
            ". one five two ."
            ". one word six ."
            ". three four six .";

        #g3 {
            display: block;
            grid-area: five;
        }

        #g5 {
            display: block;
            grid-area: six;
        }
        #g7 {
            display: block;
            grid-area: three;
        }
    

    }


}



#g1 {
    h1 {
        font-family: 'Pacifico', cursive;
        font-size: rem-calc(43);
        color: var(--yellow);

        @include md {
            font-size: rem-calc(46);
        }

    }

    box-sizing: border-box;
    text-align: center;
    height: 234px;
    padding-top: 95px; //center in box
    margin-bottom: 20px;
    margin-top: 61px; //space between block robot

    @include md {

        height: 277px;
        padding-top: 115px; //center in box
        margin-top: 0;
        margin-bottom: 0;
    }

    @include lg {
        height: 250px;
        padding-top: 102px; //center in box

    }

}

#g3, #g4, #g6, #g7{
    @include lg{
        height: 100%;
    }
    
}
