#skills{
    background-color: var(--gray);
    color: #ffffff;
    @include lg{
        display: grid;
        grid-template-columns: 40% auto;
        
    }

    #robot-skills{
   
        h3{
            
            margin-top: 55px;
            font-size: rem-calc(21);
            @include md{
                margin-top: 25px;
            }
        }
        p{
            font-size: rem-calc(16);
            @include md{
                font-size: rem-calc(18);
            }
        }
    }

    #content-whole{
        @include md{
            padding: 0 80px;
        }
        @include lg{
            padding-left: 70px;
            padding-right: 35px;
            
        }
    }
    


}

#skills-hero-pos{
    width: 100vw;
    height: 130vw;
    background-image: url('../img/body/skills-bot.jpg');
    background-size: cover;
    background-position: 65% 100%;

    @include md{
        height: 65vw;
        background-position: 100% 100%;
    }
    @include lg{
        width: 40vw;
        height: 48vw;
        background-position: 65% 80%;
    }
}

#emotion{
    @include md{
        margin-top: 70px;
    }
    @include lg{
        margin-top: 40px;
    }
    aside{
        display: grid;
        grid-template-columns: 62% auto;
  
    }
}

#learning{
    aside{
        display: grid;
        grid-template-columns: 90% auto;
       
    }
}

#math{
    padding-bottom: 60px;
    aside{
        display: grid;
        grid-template-columns: 95% auto;
        
    }
}


.flex-text{
    display: flex;
    margin-bottom: 5px;
    margin-top: 4vh;
    font-size: rem-calc(18);
    font-weight: 400;
    @include lg{
        margin-top: 5vh;
    }


    p{
    
        
        align-self: center;
        
    }
    h5{
        margin-left: auto;
        font-weight: 700;
        

       
    }
}



.yellow{
    background-color: var(--yellow);
    height: 10px;
   
}
.black{
    background-color: var(--black);
    height: 10px;
}

