/* =============
    Header
============= */

header {

    position: fixed;
    background: var(--white);
    width: 100%;


    div{
        display: grid;
        grid-template-columns: 40% auto;
        #right-side{
            margin-left: auto;
     
            @include md{
                margin-right: 16px;
                margin-top: 15px;
            }
            
        }
    }

}



#burger-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;


}


#burger-btn {
    background: none;
    border: none;

    padding: 16px;
    color: var(--black);

}

#survival {
    padding: 5px 20px;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 25px;

    background-color: var(--yellow);

    //    border: none;
    font-size: rem-calc(18);
}