/* =============
    Navigation
============= */


a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




nav {
    display: none;
    background-color: var(--yellow);
    height: 100vh;
    padding: 16px;
    position: fixed;
    right: 0;
    top: 0;
    width: 70vw;
    box-sizing: border-box;

    @include md {
        display: block;
        background-color: transparent;
        height: 50%;
        padding: 0;
        position: relative;
        width: 100%;
    }


    aside { //close button
        display: flex;
        justify-content: flex-end;

        button {
            background-color: transparent;
            border: none;
        
        }
    }

    section {
        display: flex;
        justify-content: right;
        align-content: flex-start;
        padding-right: 10vw;
        margin-top: 10vh;

        @include md {
            
            margin-top: 2vh;
            margin-bottom: 2vh;
            margin-right: 2vw;
            justify-content: flex-end;
            


        }




        ul {

            @include md{

                display: flex;
                justify-content: flex-start;
                


            }

            li {

                // display: flex;
                // justify-content: flex-end;
                border-right: 1px solid black;


                @include md {
                    justify-content: space-between;
                    margin-bottom: 0;
                    padding-top: 0;
                   
                    // padding-left: 25px;


                    &:first-child{
                        border: none;
                    }

                    &:last-child{
                        border: none;
                    }
                }

            }


        }


        
        a:link,
        a:visited {

            color: var(--black);
            display: inline-block;
            // padding-bottom: 32px;
            padding: 10px;
            font-size: rem-calc(20);

            @include md {

                font-size: rem-calc(24);
            }

            &:hover,
            &:active {
                color: var(--white);


            }
        }
    }
}